/* || General setup */


html {
  margin: 0;
  padding: 0;
  font-size: 10px;
  background-color: white;
}

body {
  width: 100%; /* 98% */
  /* margin: 1% 1% 1% 1%; /* top+right+bottom+left 0 auto; */
  padding: 0;
  background-color: rgb(252, 252, 239); /* #a9a9a9  will be background-color for all doc if no set in html*/
  /* border: thin solid black;
  /* outline: dashed red; */
}

span {
  font-size: 1rem;
}

/* || typography */
h1 {
  font-family: 'Sonsie One', cursive;
  color: #2a2a2a;
}

p, input, li {
  /* font-family: 'Open Sans Condensed', sans-serif; */
  color: #2a2a2a;
}

h1 {
  font-size: 1rem;
  text-align: center;
  color: white;
  text-shadow: 2px 2px 10px black;
}

h2 {
  font-size: 1rem;
  text-align: center;
}

h3 {
  font-size: 1rem;
}

h4 {
  margin: 0% 0% 0% 5%; /* top+right+bottom+left 0 auto; */
  font-size: 1rem;
}

p, li {
  font-size: 1rem;
  /* line-height: 1.5; */
}

/* || header layout */

article, aside, footer {
  background-color: white;
  padding: 1%;
}

nav > div {
  /*padding: 2px;
  /*height: 50px;*/
  /*width: 90%;*/
  background-color: lightskyblue;
  /* display: flex; /* for childs - ul and search form */
}

nav > div > ul {
  /*padding: 0; */
  list-style-type: none;
  /*flex: 2; /* proportion 2 to upper level nav > div display: flex; */
  /*display: flex; /* to childs - li elements */
  /*width: 100%;*/
}

nav > div >  ul > li {
  /* padding: 5%; */
  display: inline;
  text-align: center;
  /*flex: 1; /* proportion 1 (all equals) */
}

nav > div> .special {
  margin: 0;
  /* padding: 1%; */
  background-color: white;
  font-size: 1rem;
  /* line-height: 1.5;  /* 1.5; */
  border: thin solid black;
}

nav > div > ul> li > a {
  display: inline-block;
  margin: 0% 5% 0% 0%; /* top+right+bottom+left 0 auto; */
  font-size: 1rem;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
}

nav > div > form {
  /*flex: 1; /* proportion 1 to upper level nav display: flex; */
  /*display: flex; /* to childs - input search and submit */
  align-items: center;
  height: 100%;
  padding: 1%;
}

#todo {
  font-size: 1.6rem;
  height: 32px;
}

.ticket {
  width: 35%;
  margin-left: 1%;
  /* margin-right: 1rem; */
}

.drawnum {
  /* font: 1em sans-serif; */
  /* Uniform text field size */
  width: 15%;
  margin-left: 1%;
  margin-right: 1%;
  /*padding: 1px; */
  box-sizing: border-box;
  /* border: 1px solid #999; */
}

#gameselect {
  /* font: 1em sans-serif; */
  /* Uniform text field size */
  font-size: 1rem;
  width: 30%;
  /* height: 32px; */
  margin-left: 1%;
  /* padding: 1px; */
  box-sizing: border-box;
  /* border: 1px solid #999; */
}


input[type="submit"] {
  /*flex: 1; /* proportion 1 to upper level form */
  margin-left: 1%;
  background: #333;
  border: 0;
  color: white;
}

button {
  /*flex: 1; /* proportion 1 to upper level form */
  /* font-size: 1.6rem; */
  /* height: 32px; */
  margin-left: 1%;
  background: wheat;
  border-radius: 15%;
  /* border: 0; */
  color: black;
}

.numbs {
  /* font: 1em sans-serif; */
  /* Uniform text field size */
  width: 8%;
  margin: 1%;
  /*padding: 1px; */
  box-sizing: border-box;
  /* border: 1px solid #999; */
}

.numbs:invalid {
  border: 2px solid red;
}

.numbs:invalid:required {
  background-image: linear-gradient(to right, pink, lightgreen);
}      

.numbs:valid {
  border:  1px solid #999;
}

.boardLabel {
  display: inline;
  margin-left: 1%; /* top+right+bottom+left 0 auto; */
  margin-right: 1%; /* top+right+bottom+left 0 auto; */
}

#found {
  width: 30%;
  padding: 1%;
  margin-left: 1%;
  background-color: white;
  font-size: 1rem;
  line-height: 1;  
  border: thin solid black;
}

#contact 
{
  width: 30%;
  padding: 1%;
  margin-left: 1%;
  background-color: white;
  font-size: 1rem;
  line-height: 1;  
  border: thin solid black;

}

/*
#dataXML {
  width: 30%;
  padding: 1%;
  margin-left: 1%;
  background-color: white;
  font-size: 1rem;
  line-height: 1;  
  border: thin solid black;
}
*/

/* || main layout */

main {
  display: flex; /* to childs - article and asides */
}

article {
  flex: 3; /* article proportion 3 to upper level main */
  margin-bottom: 10px;
}

#leftaside {
  flex: 1; /* aside proportion 1 to upper level main */
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  background-color: lightskyblue;
}

#logoimg {
  /* float: left; */
  /* float: right; */
  /* margin-right: 2px; */
  /* margin: 0px 5% 0px 15%; /* top-right-bottom-left */
  /* margin-left: 2px; */
  width: 15%;
  /* height: 2%; */
  border-radius: 5px;
  background-color: rgb(252, 252, 239);
  /* padding: 1em; */
}

#logoimg2 {
  float: left;
  /* float: right; */
  /* margin-right: 2px; */
  margin: 0px 5px 0px 0px; /* top-right-bottom-left */
  /* margin-left: 2px; */
  width: 10%; /* 75px */
  /* height: 2%; /* 50px */
  border-radius: 5px;
  background-color: #dfdbdb;
  padding: 1em;
}

#logoimg3 {
  float: left;
  /* float: right; */
  /* margin-right: 2px; */
  margin: 0px 5px 0px 0px; /* top-right-bottom-left */
  /* margin-left: 2px; */
  width: 10%;
  /*height: 7%; /* 50px; */
  border-radius: 5px;
  /* background-color: #dfdbdb; */
  /* padding: 1em; */
}

#logoimg4 {
  float: left;
  /* float: right; */
  /* margin-right: 2px; */
  margin: 0px 5px 0px 15px; /* top-right-bottom-left */
  /* margin-left: 2px; */
  width: 10%;
  height: 5%;
  border-radius: 5px;
  background-color: rgb(252, 252, 239);
  padding: 1em;
}

#rightaside {
  flex: 1; /* aside proportion 1 to upper level main */
  margin-left: 1%;
  margin-right: 1%;
  margin-bottom: 1%;
  background-color: lightskyblue;
}

aside li {
  padding-bottom: 1%;
}

footer {
  margin-top: 1%;
}